.login {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin: auto;
  background-color: #eff2f5;
}

.login_logo > img {
  object-fit: contain;
  height: 250px;
  padding: 200px 0px 0px 100px;
}

.login_logo > h2 {
  width: 600px;
  padding: 20px 0px 0px 100px;
  font-size: 27px;
  font-weight: 550;
  line-height: 0.8cm;
}
